.home_container {
  width: 100%;
  margin: 0vh 0vh;
  background-image: url(../media/homeImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.home_content,
.about_content {
  width: 100%;
  display: flex;
  height: -webkit-calc(100vh - 70px);
  position: relative;
  overflow-y: auto;
}
.home_intro {
  width: 50%;
  height: 50%;
  margin: 2% auto auto 5%;
}
.home_title {
  font-size: max(10vw, 65px);
}
.home_subtitle {
  font-size: 15px;
  padding-left: 5px;
  min-width: 215px;
}

.sect {
  width: 100%;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  position: relative;
}

.about_content {
  align-items: center;
  justify-content: center;
  padding: 10%;
}
.container_dev {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  max-width: 990px;
  height: 100%;
  max-height: 680px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  overflow-y: auto;
}
.item_dev {
  width: 300px;
  display: flex;
  height: 80px;
  background-color: #fff;
  margin: 10px;
  border-radius: 6px;
  padding: 10px;
}

@media (max-width: 450px) {
  .about_content {
    padding: 10px;
    margin-bottom: 50px;
  }
}
